[submodule "src/Silimium/UserBundle"]
	path = src/Silimium/UserBundle
	url = git@github.com:silimium/user-feature.git
	branch = .
[submodule "src/Silimium/TaskBundle"]
	path = src/Silimium/TaskBundle
	url = git@github.com:silimium/task-feature.git
	branch = .
[submodule "src/Silimium/TaskArchiveBundle"]
	path = src/Silimium/TaskArchiveBundle
	url = git@github.com:silimium/task-archive-feature.git
	branch = .
